celery==5.1.0
Django==3.2.4
django-cors-headers==3.7.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.1
djoser==2.1.0
opencv-python==4.5.2.54
Pillow==8.2.0
python-dotenv==0.17.1
redis==3.5.3
SimpleITK==2.0.2
tensorflow==2.5.0

git+https://github.com/JoHof/lungmask
